*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1551621962-b8f40dee2f2c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3538&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
}

.container {
  width: 1200px;
  max-width: 90%;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 25px 10px;
  font-size: 2rem;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

#question {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin: 20px 0;
  color: white;
}

#score-container {
  text-align: center;
  display: none;
}

#score-container p {
  font-size: 24px;
}

#play-again-btn {
  font-size: 18px;
  margin-top: 20px;
}